
.jumbotron {
  margin-bottom: 0px;
  background-color: grey;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: grey;
}

.text-center{

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
}

#scorebofontcontrol{

  background: lightblue;
}

#instructionfontcontrol {
  background-color: lightgrey;
}


#headerfontcontrol {
  background-color: orange;
}

#randomfontcontrol {
  background-color: green;
}


#totalfontcontrol {
  background-color: blue;
}

#totalfontcontrol {
  color: white;
}

body {
  background-image: url("../images/5.jpeg");
}
