
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: grey;
}

.text-center{

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
}

#scores{

  background: lightblue;
}

#instructions {
  background-color: lightgrey;
}


#header {
  background-color: orange;
}

#random {
  background-color: green;
}


#font {
  background-color: blue;
  color: white;
}


body {
  background-image: url("../images/5.jpeg");
}
